
 
<div style="text-align:center">
  <h1>{{ title }}</h1>
  <div style="background-color: bisque">
      <button mat-button  (click)="gotoHome()" color ="primary">Login</button>
      <button mat-button routerLink="dashboard" color="accent">Dashboard</button>
      <button mat-button routerLink="errorpage" >Dynamic Load</button>
      <button mat-button color="accent">View</button>
    </div>
    <p class="badge badge-primary"> Net Amount is {{ Amount | currency:'Rs.' }}</p> 

      <ul style="display: inline-block;">
        <li *ngFor="let item of items let i = index">
        {{ item.view }}
        </li>
      </ul>
      <hr>
      <a routerLink="/login">Login</a>
     <app-calculate></app-calculate>
     <router-outlet></router-outlet>
     
     
     <!-- <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Leave a comment"></textarea>
      </mat-form-field>
    </form> -->
     <!-- <mat-menu #appMenu="matMenu">
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Help</button>
    </mat-menu>
    
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button> -->
    
      <!-- <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu> -->

      
      <!-- <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu> -->
     


      
     
      <!-- <h3>Raised Buttons</h3>
      <div class="example-button-row">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button disabled>Disabled</button>
        <a mat-raised-button routerLink=".">Link</a>
      </div> -->

</div>